@import "variables";
@import "mixins";


html {
    font-size: $font-size-lg;
    box-sizing: border-box;

    @include respond-to(wide-screens) {
      font-size: $font-size-default;
    }

    @include respond-to(medium-screens) {
        font-size: $font-size-md;
    }

    @include respond-to(tablets) {
        font-size: $font-size-xs;
    }

    @include respond-to(handhelds) {
        font-size: $font-size-xxs;
    }
}

*, *::before, *::after {
    box-sizing: inherit;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }
  a:hover, a:focus {
    text-decoration: none;
    outline: none; }

body {
    position: relative;
    min-height: 100vh;
    color: #021725;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;

    @include respond-to(medium-screens) {
        padding-bottom: 0;
    }
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    padding: 20px;
}



.main {
    min-height: 100vh;
    display: flex;
    justify-content:center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;

    &__title-text {
        font-size: 5.7rem;
        font-weight: 100;
        text-align: center;

        @include respond-to(wide-screens) {
            font-size: 5rem;
         }

        @include respond-to(medium-screens){
            font-size: 3.5rem;
        }

        @include respond-to(handhelds) {
            font-size: 3rem;
        }

        span {
            font-weight: 300;
            font-style: italic;
        }
    }

    &__min-text {
        font-size: 1rem;
        color: #d4af37;
    }

    &__text {
        line-height: 1.8rem;
        font-size: 1.2rem;
        padding: 3.8rem 0;
        font-weight: 300;
    }

    &__link {
        color: #80affb;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2.1px;
        border-radius: 27px;
        border: 2px solid #80affb;
        box-shadow: 5px 8.66px 20px 0px rgba(68, 84, 255, 0.078);
        padding: 14px 61px;
        position: relative;
        transition: all 400ms linear 0s;
        z-index: 2;
        box-sizing: border-box;
        transform: scale(.8);

        &:before{
          content:'';
          position: absolute;
          box-sizing: border-box;
          top: 0px;
          left: 0px;
          width: 0px;
          height: 100%;
          background: rgba(255,255,255,0.3);
          // border-radius: 5px;
          transition: all .4s ease;
        }
        &:hover {
          color: #fff;
          border: 2px solid rgba(000, 000, 000, 0.3);
          transform: scale(.85);
        }
        &:hover::before{
          // transform: translateX(0%);
          background: rgba(000, 000, 000, 0.2);
          width: 100%;
          z-index: -1;
          border-radius: 27px;
        }
    }

    &__items {

        &-content {
            display: flex;
            justify-content: center;
            width: 100%;
            @include respond-to(handhelds) {
                flex-direction: column;
            }
        }

        &-photo {
            $photo-dimensions: 25%;
            width: $photo-dimensions;
            min-width: $photo-dimensions;
            height: $photo-dimensions;
            // width: 100%;
            overflow: hidden;
            position: relative;
            -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);

            @include respond-to(handhelds) {
                width: 100%;
            }

            img {
                width: 100%;
                height: 100%;
                position: relative;
                top: 0;
                left: 0;
            }
        }
        &-photo .ovrly {
            background: rgba(0, 0, 0, 0.5);
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

        }
        &-photo .buttons {
            position: absolute;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }
        &-photo .buttons .fa {
            background: rgb(256, 256, 256);
            -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            display: inline-block;
            line-height: 40px;
            font-size: 16px;
            text-align: center;
            text-decoration: none;
            width: 40px;
            height: 40px;
            position: relative;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;
            color: rgba(50, 50, 50, 0.9);
        }
        &-photo .buttons .fa-link {
            left: -215%;
        }
        &-photo .buttons .fa-search {
            right: -215%;
        }
        &-photo:hover .buttons .fa-link {
            left: 0;
        }
        &-photo:hover .buttons .fa-search {
            right: 0;
        }
        &-photo:hover .ovrly {
            opacity: 1;
            -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
            -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
            box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
        }
    }
}
.container {
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 0 1rem;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('../img/animated-bg.png');
    background-size: cover;
    background-position: center;
    padding: 0 1rem;
}
footer {
    background-color: #eeeeee;
}
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: $font-size-default;
    padding: 2rem 1rem;

    @include respond-to(tablets) {
        font-size: $font-size-md;
        flex-direction: column;
    }

    @include respond-to(handhelds) {
        justify-content: center;
        align-items: center;
    }

    &__copy {
        @include respond-to(tablets) {
            margin-bottom: 1rem;
        }

    }

    &__social {
        display: flex;
        justify-content: center;

        &-link {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 30px;
            height: 30px;
            color: grey;
            font-size: 1.1rem;
            text-decoration: none;
            background-color: #fff;
            border-radius: 50%;
            margin: 0 4px;
            transition: transform .3s;
            .fa {
                transition: color .3s;
            }

            &:hover, &:focus {
                text-decoration: none;
                color:#d4af37;
                background: #eee;
                transform: scale(1.2);
                border: 1px solid #d4af37;
            }
        }
    }

    &__contact {
        text-decoration: none;
        color: currentColor;
    }
}
