/*
@include respond-to(handhelds) {  }
@include respond-to(tablets) {  }
@include respond-to(medium-screens) {  }
@include respond-to(wide-screens) {  }
*/
html {
  font-size: 16px;
  box-sizing: border-box; }
  @media only screen and (max-width: 1366px) {
    html {
      font-size: 14px; } }
  @media only screen and (max-width: 1024px) {
    html {
      font-size: 13px; } }
  @media only screen and (max-width: 768px) {
    html {
      font-size: 12px; } }
  @media only screen and (max-width: 480px) {
    html {
      font-size: 11px; } }

*, *::before, *::after {
  box-sizing: inherit; }

ul {
  list-style: none;
  margin: 0px;
  padding: 0px; }

a {
  text-decoration: none; }

a:hover, a:focus {
  text-decoration: none;
  outline: none; }

body {
  position: relative;
  min-height: 100vh;
  color: #021725;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem; }
  @media only screen and (max-width: 1024px) {
    body {
      padding-bottom: 0; } }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  position: absolute;
  width: 100%;
  padding: 20px; }

.main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0; }
  .main__title-text {
    font-size: 5.7rem;
    font-weight: 100;
    text-align: center; }
    @media only screen and (max-width: 1366px) {
      .main__title-text {
        font-size: 5rem; } }
    @media only screen and (max-width: 1024px) {
      .main__title-text {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 480px) {
      .main__title-text {
        font-size: 3rem; } }
    .main__title-text span {
      font-weight: 300;
      font-style: italic; }
  .main__min-text {
    font-size: 1rem;
    color: #d4af37; }
  .main__text {
    line-height: 1.8rem;
    font-size: 1.2rem;
    padding: 3.8rem 0;
    font-weight: 300; }
  .main__link {
    color: #80affb;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 2.1px;
    border-radius: 27px;
    border: 2px solid #80affb;
    box-shadow: 5px 8.66px 20px 0px rgba(68, 84, 255, 0.078);
    padding: 14px 61px;
    position: relative;
    transition: all 400ms linear 0s;
    z-index: 2;
    transform: scale(0.8); }
    .main__link:before {
      content: '';
      position: absolute;
      top: 0px;
      left: 0px;
      width: 0px;
      height: 42px;
      background: rgba(255, 255, 255, 0.3);
      transition: all .4s ease; }
    .main__link:hover {
      color: #fff;
      border: 2px solid rgba(0, 0, 0, 0.3);
      transform: scale(0.85); }
    .main__link:hover::before {
      background: rgba(0, 0, 0, 0.3);
      width: 100%;
      z-index: -1;
      border-radius: 27px; }
  .main__items-content {
    display: flex;
    justify-content: center;
    width: 100%; }
    @media only screen and (max-width: 480px) {
      .main__items-content {
        flex-direction: column; } }
  .main__items-photo {
    width: 25%;
    min-width: 25%;
    height: 25%;
    overflow: hidden; }
    @media only screen and (max-width: 480px) {
      .main__items-photo {
        width: 100%; } }
    .main__items-photo img {
      width: 100%;
      height: 100%; }

.container {
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 0 1rem; }

.title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url("../img/animated-bg.png");
  background-size: cover;
  background-position: center;
  padding: 0 1rem; }

footer {
  background-color: #eeeeee; }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  padding: 2rem 1rem; }
  @media only screen and (max-width: 768px) {
    .footer {
      font-size: 13px;
      flex-direction: column; } }
  @media only screen and (max-width: 480px) {
    .footer {
      justify-content: center;
      align-items: center; } }
  @media only screen and (max-width: 768px) {
    .footer__copy {
      margin-bottom: 1rem; } }
  .footer__social {
    display: flex;
    justify-content: center; }
    .footer__social-link {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      color: grey;
      font-size: 1.1rem;
      text-decoration: none;
      background-color: #fff;
      border-radius: 50%;
      margin: 0 4px;
      transition: transform .3s; }
      .footer__social-link .fa {
        transition: color .3s; }
      .footer__social-link:hover, .footer__social-link:focus {
        text-decoration: none;
        color: #d4af37;
        background: #eee;
        transform: scale(1.2);
        border: 1px solid #d4af37; }
  .footer__contact {
    text-decoration: none;
    color: currentColor; }
